$main-color: #0805CB;
$white-color: #fff;
$yellow-color: #FAFA1E;
$green-color: #3FBF8A;
$sky-color: rgba(10, 136, 255, 1);
$bg-white-color: rgba(255, 255, 255, 0.7);
$use-color: rgba(39, 76, 245, 0.8);
$red-color: rgba(255, 0, 19, 1);
$black-color: #000000;
$gray-color: rgba(0, 0, 0, 0.57);