.introduce {    
    padding-top: 70px;
    background: url('../img/bg/myself.jpg') no-repeat 50%/cover;
    .container {
        display: flex;
    }
    &__img {
        img {
            width: 400px;
            height: 600px;
        }
    }    
    &__myself {
        margin-left: 20px;
        width: 740px;
        border-radius: 10px;
        color: #fff;
        background-color: rgba(0,0,0,.8);
        &_title {
            padding-top: 50px;
            position: relative;
            margin-bottom: 15px;
            @include before_circle;
            &::before {
                top: 57%;
                left: -11px;
            }
            z-index: 2;  
        }
        &_fz14 {
            margin: 20px 0 50px 0;
        }
    }
    &__wrapper {
        margin-left: 20px;
        padding: 0 36px;
    }
    &__skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px;
        margin-top: 30px;
    }
    &__skill {
        display: grid;
        grid-template-columns: 1fr 10fr;
        position: relative;
            @include before_circle;
            &::before {
                top: -3%;
                left: -28px;
            }
            z-index: 2;  
        img {
            margin-top: 50%;
            transform: translateX(-50%);
        }
        
    }
}