.resume {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../img/bg/devices.webp') no-repeat 50%/cover;
    .container {
        background-color: $bg-white-color;
        border-radius: 5px;
    }
    &__title {
        position: relative;
        top: 10px;
        text-align: center;        
        @include before_circle;
        &::before {
            top: -5px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;            
        }
        z-index: 1;
    }
    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        padding: 60px 65px 0 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }
    &__fz14 {
        color: $main-color;
    }
    &__column {
        &-title {
            padding-left: 35px;
            position: relative;
            z-index: 1;
            @include before_circle;
            &::before {
                width: 15px;
                height: 15px;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);                
            }
        }
        ul {
            padding-left: 0;
            list-style-type: none;
            li {
                position: relative;
                &:after {
                    content: '';
                    width: 1px;
                    height: calc(100% + 16px);
                    position: absolute;
                    top: -16px;
                    left: 0;background-color: #000;
                }
            }
        }
    }
    &__item { 
        position: relative;
        &::before {
            content: '';
            height: 1px;
            width: 44px;
            top: 38px;
            position: absolute;
            background-color: #000;
        }       
        &-head {
            position: relative;
            padding: 15px 0 0 100px;
            h4 {
                margin-bottom: 0;
            }
        }
        &-body {
            margin-top: 12px;
            padding-left: 43px;
            font-size: 12px;
            line-height: 18px;
        }
        &-icon {
            position: absolute;
            top: 25px;
            left: 45px;
            @include before_circle;
            z-index: 1;
            &::before {
                top: -6px;
                left: -1px;
                z-index: -1;            
            }
            img {
                position: absolute;
                left: 15px;
                top: 8px;
            }
        }
        &-location {
            font-size: 12px;
            line-height: 18px;
            margin-top: 5px;
        }
    }
}